body,div,ul,ol,nav,p{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color: #fff;
}
.mynav{
	top: 48px;
	border: 0;
	margin-bottom: 20px;
	padding: 0;
	background-color: #fff;
	z-index: 90;
}
.nav-active{
	background: rgba(0, 0, 0, 0.2);
}

ul{
	list-style: none;
}
.float-right{
	float: right;
}
.float-left{
	float: left
}
.logo-bg{
	position: fixed;
	width: 100%;
	background: url('../img/logobg.png');
	height: 70px;
	z-index: 100;
	filter: invert(1);
}
.background-color{
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 130px;
	font-size: 20px;
	font-family: 黑体;
	color: #fff;
	background-color: rgba(0, 92, 165, 0.5);
	z-index: 100;
}
.logo-bg img{
	position: absolute;
	width: 150px;
	top: 25px;
	left: 80px;
	z-index: 100;
	filter: invert(0.5);
}
.logo-bg a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	line-height: 50px; 
	padding-right: 3%;
}
.realnav{
	width: 100%;
	height: 60px;
}
.realnav>li{
	padding: 0;
	cursor: pointer;
}
.realnav>li>a{
	height: 60px;
	text-align: center;
	padding: 0;
	line-height: 30px;
}
.nav-border{
	width: 100%;
	height: 8px;
	background-image: url('../img/logoborder.png');
	top: -27px;
	margin-bottom: 20px;
}
#index{
	overflow:hidden;
}
.contact{
	position: fixed;
	background-image: url('../img/rightnavbg.png');
	right: 0;
	top: 110px;
	height: 100%;
	width: 40px;
	z-index: 90;
}
.contact>li{
	height: 29%;
	width: 100%;
	border-bottom: 1px solid #fff;
	text-align: center;
	
	display: flex;
    align-items: center; /*定义li的元素垂直居中*/
    justify-content: center; /*定义li的里的元素水平居中*/
}
/*.contact>li>div{
	padding-top: 20%;
	padding-bottom:20%;
}*/
#aboutus{
	/*margin-top: 100px;*/
	/*margin-bottom: 100px;*/
	background-image: url('../img/about.png');
	height:613px;
	overflow:hide;
	
}
.abouttext1{
	padding-top:15%;
	margin-left:60%;
	color:#FFF;
	
	
}
.abouttext1-title{
	margin-left: 10%;
	border-bottom:1px solid #000;
	padding-bottom: 15px;
	text-align:left;
	color:rgba(0, 0, 0, 0.5);
}
.abouttext1-message{
	margin-left: 10%;
	margin-bottom: 20px;
	padding-top:15px;
	text-align:left;
	color:rgba(0, 0, 0, 0.5);
}
.abouttext2{
	padding-top:30%;
	margin-left:10%;
	margin-right:10%;
	
}
.abouttext2-descri{
	text-align:center;
	color:rgba(0, 0, 0, 0.5);
}
#carousel-example-generic{
		margin-top: 100px;
}
#server{
	margin-top: 100px;
}
.service-head{
	width: 100%;
	height: 60px;
	text-align: center;
	font-size: 22px;
	font-family: 黑体;
	margin-top: 30px;
}
.service-body{
	box-sizing: border-box;
	width: 83%;
	height: 75px;
	margin-left: 7%;
	margin-right: 10%;
}
.service-body>li{
	text-align: center;
	height: 55px;
}
.service-body>li>button{
	height: 55px;
	border-radius: 27px;
	margin-bottom: 20px;
	overflow-y: hidden;
}
.service-img{
	width: 83%;
	height: 300px;
	margin-left: 7%;
	margin-right: 10%;
}
.service-img li{
	padding: 0;
	height: 130px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size: 100% 130px;
	margin-bottom: 20px;
}
.img1{
	display: block;
}
.img2{
	display: none;
}
.img3{
	display: none;
}
.service-img1-01{
	background: url('../img/img1/img1-01.gif');
}
.service-img1-02{
	background: url('../img/img1/img1-02.gif');
}
.service-img1-03{
	background: url('../img/img1/img1-03.gif');
}
.service-img1-04{
	background: url('../img/img1/img1-04.gif');
}
.service-img1-05{
	background: url('../img/img1/img1-05.gif');
}
.service-img1-06{
	background: url('../img/img1/img1-06.gif');
}
.service-img1-07{
	background: url('../img/img1/img1-07.gif');
}
.service-img1-08{
	background: url('../img/img1/img1-08.gif');
}
.service-img2-01{
	background: url('../img/img2/img2-01.gif');
}
.service-img2-02{
	background: url('../img/img2/img2-02.gif');
}
.service-img2-03{
	background: url('../img/img2/img2-03.gif');
}
.service-img2-04{
	background: url('../img/img2/img2-04.gif');
}
.service-img2-05{
	background: url('../img/img2/img2-05.gif');
}
.service-img2-06{
	background: url('../img/img2/img2-06.gif');
}
.service-img2-07{
	background: url('../img/img2/img2-07.gif');
}
.service-img2-08{
	background: url('../img/img2/img2-08.gif');
}
.service-img3-01{
	background: url('../img/img3/img3-01.gif');
}
.service-img3-02{
	background: url('../img/img3/img3-02.gif');
}
.service-img3-03{
	background: url('../img/img3/img3-03.gif');
}
.service-img3-04{
	background: url('../img/img3/img3-04.gif');
}
.service-img3-05{
	background: url('../img/img3/img3-05.gif');
}
.service-img3-06{
	background: url('../img/img3/img3-06.gif');
}
.service-img3-07{
	background: url('../img/img3/img3-07.gif');
}
.service-img3-08{
	background: url('../img/img3/img3-08.gif');
}
.service-body>li>ul>li{
	cursor: pointer;
	display: block;
	width: 90%;
	height: 130px;
	background-image: url('../img/gg.png');
	background-size: cover;
	margin: 0 auto;
	margin-bottom: 20px;
}
.service-prompt{
	position: absolute;
	top: 0;
	background-color: #fff;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-radius: 1%;
	z-index: 2;
	text-align: center;
}
.anli-body{
	box-sizing: border-box;
	width: 83%;
	margin-top: 200px;
	margin-left: 7%;
	margin-right: 10%;
}
.whitepoint {
	position: fixed;
	right: 55px;
	width: 12px;
	height: 120px;
	top: 45%;
	z-index: 100;
}
.whitepoint>li {
	width: 7px;
	height: 7px;
	margin: 0 auto;
	margin-bottom: 13px;
	background-image: url('../img/smallpoint.png');
	cursor: pointer;
}
.bigpoint {
	margin: 0 0 13px 0 !important;
	height: 12px !important;
	width: 12px !important;
	background-image: url('../img/bigpoint.png') !important;

}